torch==1.0
torchvision
tensorflow==1.12
tensorboardX
gym
gym[atari]
protobuf>=3.20.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
